@media(max-width: 2560px ){

}
@media(max-width: 1920px ){

}
@media(max-width:1800px){

}
@media(max-width:1680px){

}
@media(max-width:1440px){
    .footer_pr {
        font-size: 19px;
        line-height: 26px;
    }
    .footer_hr {
        font-size: 29px;
        font-weight: bold;
        margin: 104px 0 30px 0;
    }
    .fab {
        padding: 17px;
        font-size: 28px;
    }
    .footer_pr1 {
        font-size: 19px;
        line-height: 26px;
    }
    .footer_sec {
        width: 100%;
        height: 457px;
    }

}
@media(max-width:1366px){

}
@media(max-width:1280px){
}
@media(max-width:1080px){
    .footer_hr {
        font-size: 27px;
        font-weight: bold;
        margin: 47px 0 24px 0;
    }
    .footer_pr {
        font-size: 17px;
        line-height: 23px;
    }
    .fab {
        padding: 14px;
        font-size: 24px;
    }
    .footer_pr1 {
        font-size: 17px;
        line-height: 23px;
    }
    .footer_sec {
        width: 100%;
        height: 362px;
    }
}
@media(max-width:1024px){

}
@media(max-width:991px){
    .footer_sec {
        width: 100%;
        height: 500px;
    }
    .footer_hr {
        font-size: 23px;
        margin: 25px 0 18px 0;
    }
    .footer_pr1 {
        font-size: 16px;
        line-height: 20px;
    }
}
@media(max-width:812px){

}
@media(max-width:667px){

}
@media(max-width:484px){
    .footer_sec {
        width: 100%;
        height: 932px;
    }
    .footer_pr1 {
        font-size: 18px;
        line-height: 15px;
    }
    .footer_pr {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
    }
    .footer_hr {
        font-size: 30px;
        margin: 26px 0 18px 0;
        text-align: center;
    }
    .social_par {
        margin-left: 30%;
    }
    .footer_pr1 {
        font-size: 20px;
        line-height: 17px;
        text-align: center;
    }

}
@media(max-width:540px){
    .footer_pr {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    .footer_hr {
        font-size: 25px;
        margin: 27px 0 18px 0;
        text-align: center;
    }
    .footer_pr1 {
        font-size: 19px;
        line-height: 21px;
        text-align: center;
    }
    .footer_sec {
        width: 100%;
        height: 985px;
    }
    .social_par {
        margin-left: 31%;
    }
}
@media(max-width:420px){
    .footer_sec {
        width: 100%;
        height: 888px;
    }
    .footer_pr {
        font-size: 19px;
        line-height: 25px;
        text-align: center;
    }
    .footer_pr1 {
        font-size: 18px;
        line-height: 15px;
        text-align: center;
    }
    .footer_hr {
        font-size: 28px;
        margin: 23px 0 17px 0;
        text-align: center;
    }
}
@media(max-width:375px){
    .footer_pr {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .social_par {
        margin-left: 20%;
    }
}
@media(max-width:280px){
    .footer_sec {
        width: 100%;
        height: 900px;
    }
    .fab {
        padding: 6px;
        font-size: 25px;
    }
}